body{
    color: #1c1c1c !important;
}
.form-control.error,
.form-select.error {
    border-color: #f00 !important;
}
label.error {
    color: #f00 !important;
}

#sidebar-menu>ul>li>a {
    color: #1c1c1c;
}

table.dataTable>tbody>tr> td{
    color: #1c1c1c !important;
}
table.dataTable>thead>tr> th{
    color: #1c1c1c !important;
}
table{
    font-size:16px !important;
}
.editable_form{ display: none;}

.buttons-html5 {
    margin-right: 10px !important;
}
.form-control, .form-select, .form-control:focus, .form-select:focus{ color: #000;}